<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TimeHosts" value="172.26.112.113,172.26.112.114"/>
		<add key="TimePorts" value="9082,8443,8887"/>
		<!-- ไม่ใส่ TimePaths เลย -->
		<add key="IgnoreSslErrors" value="true"/>
		<add key="HttpTimeoutSec" value="10"/>
	</appSettings>
</configuration>
