<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TimeHosts" value="172.26.112.113,172.26.112.114" />
    <add key="TimePorts" value="9082,8443,8887" />
    <add key="IgnoreSslErrors" value="true" />
    <add key="HttpTimeoutSec" value="10" />
    <add key="RunOnce" value="false" />
    <add key="LoopIntervalMinutes" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="Version" value="1.0.0" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>